The Baby Toy Company was selling premium toys but the business had been stagnant over the years. They are looking at bringing in new offerings to increase revenue. A survey was conducted on kids and their preference for toys and it was found that attention span/engagement with a new toy lasts only few days for kids and they start demanding a new one within a week. However, the survey also brought out that parents found affording premium toys difficult. Like any business, they saw an opportunity here and decided to launch a new offering of premium toys being available on rent and directed the IT team to make rental option for customers available on their online.